$current-theme: null !default; // add to avoid warnings
$font: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif' !default;
$link-font-cl: #3c8dbc !default;
$content-bg-cl: #ecf0f5 !default;
$content-font-cl: #444 !default;
$header-font-cl: #fff !default;
$header-bg-cl: #3c8dbc !default;
$sidebar-bg-cl: #222d32 !default;
$sidebar-font-cl: #b8c7ce !default;
$sidebar-bg-select-cl: #1e282c !default;
$sidebar-font-select-cl: #fff !default;
$sidebar-bg-hover-cl: #1e282c !default;
$sidebar-font-hover-cl: #fff !default;
$footer-bg-cl: #222d32 !default;
$footer-font-cl: #b8c7ce !default;
$waiter-bg-cl: #3c8dbc !default;
$waiter-font-cl: #444 !default;

// collect all themes
$themes: (
  'sage': (
    'primary': #4a5e81,
    'accent': #f5b33c,
    'success': #28a745,
    'info': blue,
    'warning': #ff9900,
    'danger': #e53935,
    'dark': #000,
    'light': #fff,
    'black': #000,
    'white': #fff,
    'font': 'lato',
    'content-bg-cl': #fff,
    'content-font-cl': #3c4a63,
    'link-font-cl': #24ab9f,
    'header-bg-cl': #fff,
    'header-font-cl': #000,
    // sidebar
    'sidebar-bg-cl': #3c4a63,
    'sidebar-font-cl': #fff,
    'sidebar-bg-select-cl': #f5b33c,
    'sidebar-font-select-cl': #3c4a63,
    'sidebar-bg-hover-cl': rgba(#d3d5db, 0.2),
    'sidebar-font-hover-cl': #f5b33c,
    // footer
    'footer-bg-cl': #fff,
    'footer-font-cl': #3c4a63,
    // box
    // waiter
    'waiter-bg-cl': #eaeff5,
    'waiter-font-cl': #000,
  ),
  'htan': (
    'primary': #605ca8,
    'accent': #f5b33c,
    'success': #28a745,
    'info': blue,
    'warning': #ff9900,
    'danger': #e53935,
    'dark': #000,
    'light': #fff,
    'black': #000,
    'white': #fff,
    'font': 'lato',
    'content-bg-cl': #fff,
    'content-font-cl': #333,
    'link-font-cl': #4c83b6,
    'header-bg-cl': #605ca8,
    'header-font-cl': #fff,
    // sidebar
    'sidebar-bg-cl': #191919,
    'sidebar-font-cl': #fff,
    'sidebar-bg-select-cl': rgba(#605ca8, 0.8),
    'sidebar-font-select-cl': #fff,
    'sidebar-bg-hover-cl': rgba(104, 103, 103, 0.3),
    'sidebar-font-hover-cl': #fff,
    // footer
    'footer-bg-cl': #202020,
    'footer-font-cl': #878787,
    // box
    // waiter
    'waiter-bg-cl': rgba(#605ca8, 0.9),
    'waiter-font-cl': #fff,
  ),
);
