// function to change color based on bg color
@function set-font-color($color) {
  @if (lightness($color) > 60) {
    @return $black; // Lighter background, return dark color
  } @else {
    @return $white; // Darker background, return light color
  }
}

@mixin get-colors-from-theme($theme) {
  @if $theme and $theme != 'default' {
    // get colors from pre-defined themes
    $current-theme: map-get($themes, $theme) !global;
    $primary: map-get($current-theme, 'primary') !global;
    $accent: map-get($current-theme, 'accent') !global;
    $dark: map-get($current-theme, 'dark') !global;
    $light: map-get($current-theme, 'light') !global;
    $success: map-get($current-theme, 'success') !global;
    $info: map-get($current-theme, 'info') !global;
    $warning: map-get($current-theme, 'warning') !global;
    $danger: map-get($current-theme, 'danger') !global;
    $font: map-get($current-theme, 'font') !global;
    $content-bg-cl: map-get($current-theme, 'content-bg-cl') !global;
    $content-font-cl: map-get($current-theme, 'content-font-cl') !global;
    $link-font-cl: map-get($current-theme, 'link-font-cl') !global;
    $header-bg-cl: map-get($current-theme, 'header-bg-cl') !global;
    $header-font-cl: map-get($current-theme, 'header-font-cl') !global;
    // sidebar
    $sidebar-bg-cl: map-get($current-theme, 'sidebar-bg-cl') !global;
    $sidebar-font-cl: map-get($current-theme, 'sidebar-font-cl') !global;
    $sidebar-bg-select-cl: map-get(
      $current-theme,
      'sidebar-bg-select-cl'
    ) !global;
    $sidebar-font-select-cl: map-get(
      $current-theme,
      'sidebar-font-select-cl'
    ) !global;
    $sidebar-bg-hover-cl: map-get(
      $current-theme,
      'sidebar-bg-hover-cl'
    ) !global;
    $sidebar-font-hover-cl: map-get(
      $current-theme,
      'sidebar-font-hover-cl'
    ) !global;
    // footer
    $footer-bg-cl: map-get($current-theme, 'footer-bg-cl') !global;
    $footer-font-cl: map-get($current-theme, 'footer-font-cl') !global;
    // box
    // waiter
    $waiter-bg-cl: map-get($current-theme, 'waiter-bg-cl') !global;
    $waiter-font-cl: map-get($current-theme, 'waiter-font-cl') !global;
  }
}
// mixin to set custom theme
@mixin set-theme() {
  // basic colors for loop later
  $basic-cls: (
    'primary': $primary,
    'accent': $accent,
    'dark': $dark,
    'light': $light,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'white': $white,
    'black': $black,
  );

  // base
  body {
    background-color: $header-bg-cl;

    h1,
    h2,
    h3,
    h4,
    h5,
    span {
      font-family: $font;
      color: $content-font-cl;
    }
  }

  // header
  .skin-blue .main-header .navbar {
    background: $header-bg-cl;
    color: $header-font-cl;
    box-shadow: $primary-shadow;
    clip-path: inset(-5px -5px -5px 0);
  }

  // logo bar
  .skin-blue .main-header .logo {
    background: $header-bg-cl !important;
    color: $header-font-cl;
    box-shadow: $primary-shadow;
    clip-path: inset(-5px 0 -5px -5px);
  }

  /* sidebar: collapse button hover */
  .skin-blue .main-header .navbar .sidebar-toggle {
    background: $header-bg-cl;
    color: $header-font-cl;

    &:hover {
      background: $header-bg-cl;
      color: $header-font-cl;
      opacity: 0.75;
    }
  }

  .skin-blue .main-header .logo {
    background: map-get($basic-cls, 'primary');

    &:hover {
      background: map-get($basic-cls, 'primary');
    }
  }

  .navbar .sidebar-toggle {
    background: map-get($basic-cls, 'primary');
    color: set-font-color(map-get($basic-cls, 'primary'));

    &:hover {
      background: map-get($basic-cls, 'primary');
      color: set-font-color(map-get($basic-cls, 'primary'));
    }
  }

  // sidebar
  .skin-blue .main-sidebar {
    background: $sidebar-bg-cl !important;
    color: $sidebar-font-cl;
    box-shadow: $primary-shadow;

    .sidebar {
      padding-top: 15px; // avoid header shadow

      li {
        & > a {
          border-left: unset !important;
          border-radius: $radius;
          margin: 0 14px;
          transition: background-color 100ms ease;
          color: $sidebar-font-cl;
          & > span {
            color: $sidebar-font-cl !important;
          }
        }

        &:hover > a,
        & > a:hover {
          color: $sidebar-font-hover-cl !important;
          background: $sidebar-bg-hover-cl;
          & > span {
            color: $sidebar-font-hover-cl !important;
          }
        }
      }

      // selected
      li.active {
        & > a {
          color: $sidebar-font-select-cl !important;
          background: $sidebar-bg-select-cl !important;
          & > span {
            color: $sidebar-font-select-cl !important;
          }
        }

        &:hover > a,
        & > a:hover {
          background: $sidebar-bg-select-cl !important;
          color: $sidebar-font-select-cl !important;
        }
      }
    }
  }

  // content
  .skin-blue .wrapper {
    background-color: $content-bg-cl;
  }

  .content-wrapper,
  .right-side {
    background: $content-bg-cl;

    a {
      color: $link-font-cl !important;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  // footer
  .dca-footer {
    background: $footer-bg-cl;
    color: $footer-font-cl;
  }

  // boxes
  @each $type in map-keys($basic-cls) {
    $bg-cl: map-get($basic-cls, #{$type});

    .box {
      @include dca-box-basic;

      &.box-solid.box-#{$type} {
        border: none;

        & > .box-header {
          @include dca-box-header;
          background: $bg-cl;

          & h3 {
            color: set-font-color($bg-cl);
          }
        }
      }

      &.box-#{$type} {
        border-color: $bg-cl;

        & > .box-header {
          @include dca-box-header;

          & h3 {
            color: $black;
          }
        }
      }
    }
  }

  // buttons
  .btn-default,
  .action-button {
    @include dca-btn-basic;
    background: map-get($basic-cls, 'accent');
    color: set-font-color(map-get($basic-cls, 'accent'));
    filter: grayscale(0%) opacity(1);
    transition: 100ms;

    &:hover,
    &:focus,
    &:active,
    &:active:focus,
    &:visited {
      background: map-get($basic-cls, 'accent');
      color: set-font-color(map-get($basic-cls, 'accent'));
      filter: grayscale(20%) opacity(0.7);
    }
  }

  @each $type in map-keys($basic-cls) {
    $bg-cl: map-get($basic-cls, #{$type});

    .btn-#{$type},
    .btn-#{$type}:active,
    .btn-#{$type}:visited {
      background: $bg-cl !important;
      color: set-font-color($bg-cl) !important;
    }
    .btn-#{$type}:hover {
      background: $bg-cl !important;
    }
  }

  // waiter
  .waiter-overlay.waiter-local {
    background: $waiter-bg-cl !important;
    color: $waiter-font-cl !important;
  }
}
