/* Buttons */
.dca-shiny-btn {
  @include dca-btn-basic;
  position: relative;
  background: #27022d !important;
  color: #fff !important;
  background-image: linear-gradient(270deg, #8e9ac2, #42579a) !important;
  background-size: 400% 400% !important;
  overflow: hidden;
  animation: TransitioningBackground 10s ease infinite;
  transition: 500ms !important;
  filter: none;

  &:hover,
  &:focus {
    color: #fff;
    background-image: linear-gradient(to left, #2d8fe5, #d155b8) !important;
    transform: scale(1.05);
  }

  // shine animation left side
  &::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    top: 0;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }

  // shine animation right side
  &::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    top: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }

  &::before,
  &::after {
    transform: translateX(300px) skewX(-15deg);
    transition: 0.7s;
  }
}

// update button animation
@keyframes TransitioningBackground {
  0% {
    background-position: 1% 0%;
  }

  50% {
    background-position: 99% 100%;
  }

  100% {
    background-position: 1% 0%;
  }
}
