// header
@mixin dca-header($primary-cl, $header-bg-cl, $header-font-cl) {
  .skin-blue .main-header .navbar {
    background: $header-bg-cl;
    color: $header-font-cl;
    // box-shadow: $primary-shadow;
    // clip-path: inset(-5px -5px -5px 0);
  }

  // logo bar
  .skin-blue .main-header .logo {
    background: $header-bg-cl !important;
    color: $header-font-cl;
    // box-shadow: $primary-shadow;
    // clip-path: inset(-5px 0 -5px -5px);
  }

  /* sidebar: collapse button hover */
  .skin-blue .main-header .navbar .sidebar-toggle {
    background: $header-bg-cl;
    color: $header-font-cl;

    &:hover {
      background: $header-bg-cl;
      color: $header-font-cl;
      opacity: 0.75;
    }
  }

  .skin-blue .main-header .logo {
    background: $primary-cl;

    &:hover {
      background: $primary-cl;
    }
  }
}
