$primary: #3c8dbc !default;
$accent: #f4f4f4 !default;
$dark: #000 !default;
$light: #fff !default;
$success: #00a65a !default;
$info: #00c0ef !default;
$warning: #f39c12 !default;
$danger: #dd4b39 !default;
$white: #fff !default;
$black: #000 !default;

// dashboard default skin colors
$skin-blue: #3c8dbc;
$skin-black: #222d32;
$skin-purple: #605ca8;
$skin-green: #00a65a;
$skin-red: #dd4b39;
$skin-yellow: #f39c12;

// useful colors
$light-blue: #eaeff5;
$glass-grey: rgba(104, 103, 103, 0.3);

// box colors
$border-cl: #d3d5db;
