// this file is used to define app's theme (colors and fonts)
@mixin dca-set-theme($theme) {
  // get theme object
  $current-theme: map-get($themes, $theme);
  $primary: map-get($current-theme, primary);
  $accent: map-get($current-theme, 'accent');
  $dark: map-get($current-theme, 'dark');
  $light: map-get($current-theme, 'light');

  $cl: (
    'primary': $primary,
    'accent': $accent,
    'success': $success,
    // not change with theme
    // $info: ;
    // not change with theme
    'warning': $warning,
    // not change with theme
    'danger': $danger,
  );

  $font-cl: map-get($current-theme, 'font-cl');
  $header-bg-cl: map-get($current-theme, 'header-bg-cl');
  $header-font-cl: map-get($current-theme, 'header-font-cl');
  //sidebar
  $sidebar-bg-cl: map-get($current-theme, 'sidebar-bg-cl');
  $sidebar-font-cl: map-get($current-theme, 'sidebar-font-cl');
  $sidebar-bg-hover-cl: map-get($current-theme, 'sidebar-bg-hover-cl');
  $sidebar-font-hover-cl: map-get($current-theme, 'sidebar-font-hover-cl');

  // header
  .skin-blue .main-header .navbar {
    background: $header-bg-cl;
    box-shadow: $primary-shadow;
    clip-path: inset(-5px -5px -5px 0);
  }

  // logo bar
  .skin-blue .main-header .logo {
    background: $header-bg-cl !important;
    box-shadow: $primary-shadow;
    clip-path: inset(-5px 0 -5px -5px);
  }

  /* sidebar: collapse button hover */
  .skin-blue .main-header .navbar .sidebar-toggle {
    background: $header-bg-cl;
    color: $header-font-cl;
    &:hover {
      background: inherit;
      color: inherit;
      opacity: 0.75;
    }
  }

  .skin-blue .main-header .logo {
    background: $primary;

    &:hover {
      background: $primary;
    }
  }

  .navbar .sidebar-toggle {
    background: $primary;
    color: set-font-color($primary);

    &:hover {
      background: $primary;
      color: set-font-color($primary);
    }
  }

  // sidebar
  .main-sidebar {
    background: $sidebar-bg-cl !important;
    color: $sidebar-font-cl;
    box-shadow: $primary-shadow;

    .sidebar {
      padding-top: 15px; // avoid header shadow

      li > a {
        color: $sidebar-font-cl !important;
        transition: background-color 200ms ease;
        border-bottom: 1px solid $border-cl;
        border-left: unset !important;
        transition: background-color 100ms ease;

        &:hover {
          color: $sidebar-bg-hover-cl !important;
          background: rgba($border-cl, 0.2);
        }
      }

      li.active > a {
        background: $sidebar-bg-hover-cl !important;

        &:hover {
          color: $sidebar-font-cl !important;
        }
      }
    }
  }

  // content
  .content-wrapper,
  .right-side {
    background: $white;
  }

  // boxes
  @each $type in ('primary', 'success', 'warning', 'danger') {
    $bg-cl: map-get($cl, #{$type});
    $radius: map-get($dca-box-var, 'border-radius');

    .box.box-solid.box-#{$type},
    .box.box-#{$type} {
      border-color: $bg-cl;
      border-radius: $radius;

      & > .box-header {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;

        & h3 {
          color: $black;
        }
      }

      &[class*='solid'] > .box-header {
        background: $bg-cl;

        & h3 {
          color: set-font-color($bg-cl);
        }
      }
    }
  }

  // buttons
  @include dca-ripple-effect($accent);
  .btn-default,
  .action-button {
    @extend .dca-btn;
    background: $accent;
    color: set-font-color($accent);
    //@extend .dca-ripple;

    &:hover,
    &:focus,
    &:active,
    &:active:focus,
    &:visited {
      background: $accent;
      color: set-font-color($accent);
    }
  }

  @each $type in ('primary', 'accent', 'success', 'warning', 'danger') {
    $bg-cl: map-get($cl, #{$type});
    .btn-#{$type},
    .btn-#{$type}:active,
    .btn-#{$type}:visited {
      background: $bg-cl !important;
      color: set-font-color($bg-cl) !important;
      filter: grayscale(0%) opacity(1);
      transition: 100ms;
    }
    .btn-#{$type}:hover {
      background: $bg-cl !important;
      filter: grayscale(20%) opacity(0.7);
    }
  }
}
